
h1,h2,h3,h4,h5,h6{
  margin:0;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin-bottom: 100px;
    
}


.menu{
    display: flex;
    gap: 50px;
    align-items: center;
    list-style: none;

}
.navbar{
    padding: 20px;
    
    color: rgb(0, 0, 0);
   
}
.aboutcontent{
    margin-top: 100px;
    padding-top: 50px;
     padding-bottom: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(247, 246, 246);
   
}
.stylenone:hover{
    color:rgb(118, 118, 118);
    cursor: pointer;
    font-size: medium;
    font-weight: 400;
}
.stylenone{
    text-decoration: none;
    color: rgb(0, 0, 0);

}
.Items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    justify-content: center;
    text-align: center;
    row-gap: 30px;
    padding: 20px;
    
}

.btn-add-tocart{
    display: none;
}
.Itme{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  
}

.Itme:hover .btn-add-tocart{
    cursor:  pointer;
    display: block;
   
}
.mini-line{
    border: 1px solid black;
    width: 30px;
   
}

.Pic-Items{
   position: relative;
    overflow: hidden;
}
.Pic-Items{
    position: relative;
    overflow: hidden;
}

.product-image{
    width: 100%;
    transition: 0.3s;
}

.hover-image{
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
}

.Pic-Items:hover .hover-image{
    opacity: 1;
}

.Pic-Items:hover .main-image{
    opacity: 0;
}

.Pic-Items img{
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-add-tocart{
    background-color: black;
    color: white;
    border: none;
    padding: 20px;
}

.btn-add-tocart:hover{
    cursor: pointer;
    text-decoration: underline;
}


    
.Icon-FontAwsome{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.FAQ-Wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.mainFAQ-Wrapper{
    display: flex;
    justify-content: center;
    align-items: center
}
.SwitFAQ{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    text-align: center;
    column-gap: 20px;
}
.detai-FAQ{
    position: relative;
    cursor: pointer;
    width: fit-content;

    transition: 0.3s;
}

.detai-FAQ::after{
    content: "";

    position: absolute;
    left: 0;
    bottom: -5px;

    width: 0%;
    height: 2px;

    background-color: rgb(0, 153, 255);

    transition: 0.3s;
}

.detai-FAQ.active::after{
    width: 100%;
}

.detai-FAQ.active{
    font-weight: bold;
}

.BOX-FAQ-TAG{
    width: 400px;
    height: 400px;
}

.Box-faq-1{
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 20px;
    
    

}


.Box-faq-2{
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 20px;
    
}

.img-container{
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.img-item{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    height: 100%;
    object-fit: contain;

    transform: translate(-50%, -50%) scale(1);
    transition: opacity 0.5s ease,
                transform 0.5s ease;
}

/* รูปแรก */
.base-img{
    opacity: 1;
}

/* รูปตอน hover */
.hover-img{
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
}

/* เปลี่ยนรูป + ขยาย */
.fade-out{
    opacity: 0;
}

.fade-in{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
}

.Product-Wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    
}

.Product-nav{
    column-gap: 500px;
    display: flex; 
    justify-content: end;
    align-items: center;
    text-align: center;
}

.Product-menu-1{
       display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: center;
}




.Product-menu-2{
       display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}

.map-container{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}
.font-gap{
    padding-inline: 10px;
    color: rgb(113, 113, 113);
}
.font-gap:hover{
    color: black;
    cursor: pointer;
}
.style-gap{
    font-size: 20px;
    color: black;
}

.Incontent-product{

    display: flex; 
    column-gap: 600px;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    
}


.Info-Product{
    width: 230px;
    height: auto;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    
}
.Product-1-pic{
    width: 230px;
    height: auto;
}


.Product-pic-full img{

    object-fit: cover;
    width: 400px;
    height: 400px;
}






.color-wrapper{
    display:flex;
    gap:10px;
}

.color-box{
    width:25px;
    height:25px;
    border-radius:50%;
    border:1px solid gray;
    cursor:pointer;
}
.eqt-input{
    width: 30px;
    height: 30px;

    border: none;
    outline: none;

    text-align: center;
    padding: 0;
}

/* ซ่อนลูกศรของ input number */
.eqt-input::-webkit-outer-spin-button,
.eqt-input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.eqt-input{
    appearance: textfield;
}
.eqt-box{
     display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;

    width: 100px;
    border: 2px solid rgb(216,209,209);
    
}

.btn-count{
    font-weight: bold;
    font-size: 16px;
    width: 30px;
    border: none;
    background-color: white;
}

.add-to-cart{
    background-color: white;
    padding: 20px;
}

.add-to-cart:hover{
    text-decoration: underline;
    cursor: pointer;
   
}

.btn-buy:hover{
    text-decoration: underline;
    cursor: pointer;
}

.btn-buy{
    background-color: rgb(18, 18, 18);
    color: aliceblue;
    padding: 20px;
}
.overlay{
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background: rgba(0, 0, 0, 0.342);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999;
}

.overlay-wrapper{
    position: relative;
    padding: 100px;
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 500px;
    column-gap: 100px;
    background-color: white;
    justify-content: center;
    
    align-items: center;
    
}

.Content-overlay{
    text-align: start;
}

